<div class="relative z-0">
    <img src="assets/bg.png" alt="" class="absolute bg-first-layer" />
    <img src="assets/bg-1.png" alt="" class="absolute bg-second-layer" />
</div>
<div class="flex flex-column align-items-center relative justify-content-center z-1 mx-3 text-center">
    <p class="uppercase text-100 font-medium text-xs">pricing plans</p>
    <h1 class="text-2xl md:text-6xl font-bold my-3 text-white">Get the Best Option Now</h1>
    <h2 class="text-lg font-normal mb-6 md:mb-8 text-100">
        The informative, and brief subheading that builds the interest around the created product. The copy encourages user to discover it
    </h2>
    <ul class="grid gap-4 md:mx-3">
        <ng-container *ngFor="let pricing of pricing$ | async">
            <li class="list-none mb-4 mdcol flex-1">
                <pegasus-pricing-card [pricing]="pricing"></pegasus-pricing-card>
            </li>
        </ng-container>
    </ul>
</div>
