/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    font-size: 16px;
    font-family: 'Inter';
}

ul {
    padding-inline-start: 0;
}
